<h2>Create a Room</h2>
<!-- creates a form a user can use to add an item to the list -->
<form action="/rooms/new" method="post">
  Title: <input type="text" name="title" value=""><p>
  YouTube URL: <input type="text" name="body" value=""><p>
  Created By: <input type="text" name="author" value=""><p>
  <input type="submit" value="submit">
</form> 
